
img.pad {
  /*padding-top: 10px;*/
  padding-bottom: 10px;
}
div.pad {
  /*padding-top: 10px;*/
  padding-bottom: 10px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.label-light {
  background-color: #FFF;
  color: #666;
}

.label-pad-left {
  margin-left: 5px;
}

.fb-explain {
	margin-left: 8px;
	font-style: italic;
}

.form-group.collapse {
	margin-bottom: 30px;
}

.fb-remove a {
	margin-left: 3px;
	cursor: pointer;
}