body {
	--primary: #3097D1;
}

.nav-tabs {
	margin-top: 22px;
}

blockquote {
  font-size: 14px;
}

blockquote footer {
  font-size: 90%;
}

blockquote img {
	max-height: 600px;
  padding-top: 10px;
}

img.in-line {
	margin-bottom: 15px;
	max-height: 150px;
}

#shareBtns {
  margin-bottom: 22px;
}

#shareForms .panel {
  height: 387px;
}

.likeComment {
  cursor: pointer;
}

.likeCount {
  margin-left: 2px;
}

.liked {
  color: var(--primary);
}

.label-default.label-purple {
  background-color: #b130d1;
}

a.panel-link {
  text-decoration: none;
}

a.panel-link {
  color: inherit;
}

a.panel-link .panel:hover .panel-body {
  background-color: #eee;
}

a.panel-link .panel:hover.panel-default .panel-heading {
  background-color: #eee;
}

.no-btm {
  margin-bottom: 0;
}

#shareBtns {
  margin-bottom: 22px;
}

a.label {
  margin-left: 5px;
}

/*source-detail*/

.viewComments {
  cursor: pointer;
  margin-left: 5px;
}

.viewComments:hover {
  text-decoration: none;
}

.commentCount {
  margin-left: 2px;
}

.panel-heading .commentCount {
  margin-left: 5px;
}

div.terms {
    /*width: 600px;*/
    height: 225px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 6px;
    overflow: auto;
    margin-bottom: 5px;
}

#topic-detail blockquote h3 {
  margin-top: 11px;
}

#topic-detail .tab-pane p {
  margin: 0;
}

/*trashcan*/
#myComments .close {
  font-size: 16px;
}

iframe {
  border: none;
}

.page-header {
  margin-top: 0;
}

.tab-pane {
  margin-top: 22px;
}

.force-text-left {
  text-align: left !important;
}