body { padding-top: 65px; }

.label {
	font-size: 80%;
	/*position: absolute;
	top: 50%;
	right: 35px;
	transform: translateY(-50%);*/
}

.optional {
	color: gray;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
}