html ._1md0{padding:16px 0 0 0}
._2fnq{height:156px;overflow:hidden;position:relative}._2fnq,._2fnr{width:156px}._2fnr{box-sizing:border-box;display:table-cell;height:38px;vertical-align:middle}._3qaq{bottom:0;left:0;position:absolute;right:0;top:0}
._6uz{line-height:0}
._2v-6{text-align:center}._13ks{display:inline-block;width:156px}._4h7k{margin-top:-16px}

#bootloader__yn4k{height:42px;}.bootloader__yn4k{display:block!important;}