.fbEmuPreview{background-color:#fff;padding:10px;width:254px}
._4rc5._4rc5{background-color:#000;cursor:pointer;position:absolute}._s4g{overflow:hidden;position:relative}.chrome ._s4g{transform:translateZ(0)}

#bootloader_Iqc6j{height:42px;}.bootloader_Iqc6j{display:block!important;}